*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,#bdc3c7,#788b98,#505b65,#2c3e50);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quotes{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #f7bebe,#fbd786,#f7797d)2;
    background-image: linear-gradient(to right, #3e5151,#decba4);
    text-align: center;
    color: white;

}

.quotes p{
    font-size: 2rem;
    margin-bottom: 4px;
}

.quotes h3{
    font-size: 1.2rem;
}
.btn{
    margin-top: 10px;
    padding: 1% 5%;
    border: 2px solid #98b4b9;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: #133043;
    color:  #98b4b9;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.btn:hover{
    cursor: pointer;
    background-color:#98b4b9;
    color:  #133043;
    border: 2px solid #133043;

}

