.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 90px;
    z-index: 10;
    position: fixed;
   
}

.header-bg{
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3, 43, 10, 0.95) 30%, rgb(35, 2, 42) 100%);
    transition: 0.5s;
}


.nav-menu{
    display: flex;
}
.nav-menu li{
    padding: 0 1.5rem;
}

.nav-menu li a{
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-menu li a:hover{
    color: #fce0ec;
    text-decoration: underline;
}

.hamburger{
    display: none;
}

@media screen and (max-width:1040px) {

    .header a img{
        position: absolute;
        top: 15%;
        left: 10%;
    } 

    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }

    .nav-menu.active{
        left: 0;
       
    }
    .nav-menu li{
        padding: 1rem 0;
    }

    .nav-menu li a{
        font-size: 2rem;
    }

    .hamburger{
        display: initial;
        position: absolute;
        top:20%;
        right:10%;

    }
}
