.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.nav-menu{
    display: flex;
}
.nav-menu li{
    padding: 0 1.5rem;
}

.nav-menu li a{
    font-size: 1.2rem;
    font-weight: 500;
}

.hamburger{
    display: none;
}

@media screen and (max-width:1040px) {

    .header a img{
        position: absolute;
        top: 2%;
        left: 5%;
    }
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -80%;
        z-index: -3;
        transition: 0.3s;
    }

    .nav-menu.active{
        left: 0;
       
    }
    .nav-menu li{
        padding: 1rem 0;
    }

    .nav-menu li a{
        font-size: 2rem;
    }

    .hamburger{
        display: initial;
    }
}
