*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10vh;
    width: 100%;
}

button{
    padding: 1.5rem 3rem;
    border: 2px double transparent;
    border-image: linear-gradient(to right,#2a64a6,#52598a,#c404b7,#ff00ae)2;
    background-image: linear-gradient(to right,#973368, #87627d, #c6a0c9);
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

button:hover{
    cursor: pointer;
    background-image: linear-gradient(to right,#c6a0c9,#87627d,#973368);
}

.button-heading{
    height: 15vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px double transparent;
    border-image: linear-gradient(to right,#c6a0c9,#bcb5ba,#a68295)2;
    margin-top: 18%;
    margin-left: 25%;
    margin-bottom: 10px;
}
.heading{
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 0, 234);
    margin-bottom: 2px;
}

span{
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 0, 234);  
}

