.formdiv{
    background-image: linear-gradient(to right,rgb(51, 12, 53),rgb(141, 46, 103),rgb(79, 74, 74));
    width: 50%;
    /* border: 2px solid transparent;
    border-image: linear-gradient(to right,rgb(79, 74, 74),rgb(141, 46, 103),rgb(51, 12, 53))2; */
    margin: auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}
.formlabel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(232, 223, 232);
    font-weight: 600;
    font-size: 30px;
    /* margin-bottom: 10px; */
}
.forminput{
    margin-left: 20px;
    margin-bottom: 20px;
    height: 30px;
    width: 50vh;
    margin-top: 10px;
    border: 2px solid purple;
    border-radius: 9px;
    padding-left: 20px;
    font-size: 15px;
    
}

.forminput:hover{
    cursor: pointer;
    border: 2px solid rgb(206, 156, 206); ;
}
.crossed-line {
    text-decoration: black line-through;
}
.formbtn{
    margin: auto;
    color: wheat;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid rgb(166, 106, 158);
    border-radius: 20px;
    background-color:rgb(49, 11, 50);
    height: 40px;
    width: 19vh;
    cursor: pointer;
}
.formbtn:hover{
    background-color: rgb(124, 71, 126);
    border: 2px solid rgb(229, 204, 226);
    color: rgb(252, 252, 252);
    transform: scale(1.1);
}
ul{
    list-style: decimal;
    margin-top: 50px;
}
.ul-li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}
.li{
    color: whitesmoke;
    font-size: 25px;
    word-wrap:break-word;
    text-transform: capitalize;
}

.deleted{
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(247, 0, 0);
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 5px;
    color: #fff;
}


.deleteallbutton{
    color:wheat;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.deleted:hover,.deleteallbutton-1:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(180, 63, 63);
    color: aliceblue;
}

.deleteallbutton-1{
    margin-top: 15vh;
    font-size: 20px;
    height: 5vh;
    width: 32vh;
    background-color: red; 
    cursor: pointer;
    color: #fff;
    border: 2px solid white;
    border-radius: 5px;
}

.deleteallbutton-1:hover{
    color:aliceblue;
    background-color: rgb(180, 63, 63);
}



@media(max-width:480px){
    .formdiv{
        width: 70%;
    }
    .formlabel{    
        font-weight: 500;
        font-size: 15px;
    }
    .forminput{
        width: 30vh;
        padding-left: 10px;
        font-size: 15px; 
    }
    .formbtn{
        font-size: 15px;
        font-weight: 600;
        height: 40px;
        width: 15vh;
    } 
    .deleted{
        font-size: 15px;
        font-weight: 500;
        padding: 3px 15px;
    }
    .deleteallbutton-1{
        margin-top: 2vh;
        font-size: 15px;
        height: 4vh;
        width: 25vh;
    }
    
}