*{
    margin: 0 0.90%;
    padding: 0;
    box-sizing: border-box;
}

/* Hero-section */
.hero-section{
    height: 100%;
    background: #000;
}

/* navbar */
.hero-section .navbar{
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.list{
   width: 30%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #fff; 
}

.list-items{
    list-style: none;
}

.list-items:hover{
    cursor: pointer;    
    color: rgb(214, 69, 178);
}

/* side */
.side{
    width: 10%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.side .image{
    position: absolute;
    top: 4.79%;
    left: 77.90%;
}

/* Main-hero-section */
.main-hero-section{
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 25px;
    padding-left: 12%;
}

.main h1{
    position: absolute;
    top: 10;
    left: 12%;
    font-size: 70px;
    margin-top: 3%;
    padding-right: 35%;
    line-height: 115%;
    font-family: 'Ubuntu', sans-serif;
    font-weight:normal;
}

.main .one-card{
    color:  rgb(185, 41, 149);
}

.main p{
    position: absolute;
    top: 45%;
    left: 12%;
    font-size: 20px;
    padding-right: 50%;
    line-height: 120%;
    font-family: 'Poppins', sans-serif;
}

.hero-btn :nth-child(1){
    position: absolute;
    bottom: 4%;
    left: -27%;
    z-index: 0;
}

.main .hero-btn{
    position: absolute;
    top: 65%;
    left: 13.55%; 
    font-size: 20px;
}

.hero-btn:hover{
    cursor: pointer;
    color: #f637ec;
}
.hero-btn :nth-child(2){
    position:absolute;
    bottom: 22%;
    left: 112%;
}

.hero-bottom{
    display: flex;
}

.hero-bottom :nth-child(1){
    position: absolute;
    bottom: 10%;
    left:10%
}

.first-4{
    display: flex;
    flex-direction: row;
    margin-right: 59%;
    margin-top: 35%;
    padding-bottom: 5%;
}

.plus{
    color: #f637ec;
    font-weight:500;
}

.first-4 > .k1{
    font-size: 40px;
    /* font-weight: bolder; */
    font-weight: 500;
}
.first-4 > .happy{
    margin-left: 15px;
    font-size: 20px;
    width: 130px;
}
.first-4 > .vline{
    position: relative;
    top: -10px;
    left: 60px;
}
.first-4 > .k2{
    font-size: 40px;
    font-weight: 500;
    margin-left: 120px;
}
.first-4 > .yexp{
    margin-left: 15px;
    font-size: 20px;
    width: 130px;
}

.hero-background >img{
    width: 50%;
}
.hero-background :nth-child(1){
    position: absolute;
    bottom: 14%;
    left: 37%;
}
.hero-background :nth-child(2){
    position: absolute;
    bottom: 8%;
    left: 56%;
}



/* logo-section */
.logo-section{
    height: 30%;
    padding: 1% 4%;
    background: rgb(43, 42, 42);
}

.logo img{
    width: 8%;
    margin: 0 4%;
}
.logo{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 3%;
}



/* service */
.service{
    height: 100%;
    background: #000;
}

.payment{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(227, 219, 219);
    padding-top: 8%;
}

.payment h1{
    margin-left:10%;
    padding-right: 0%;
    font-size: 68px;
    font-family: 'Ubuntu', sans-serif;
}

.payment h1>span{
    color: #f637ec
}

.payment p{
    margin-right: 8%;
    font-size: 18px;
    padding-left: 6%;
    padding-right: 10%;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
}

.cards{
    margin-top: 11%;
    padding-bottom: 8%;
}

.dollar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    padding: 1.5% 0;
    background: rgb(47, 47, 47);
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #fff,gray,#000);
    border-image-slice: 1;
    padding: 3%;
    position: relative;
    top: 10%;
    left: 20%;

}

.dollar img{
    width: 50%;
    margin-bottom: 15%;
}

.dollar p{
    color: #fff;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.cloud{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    padding: 1.5% 0;
    background: rgb(102, 102, 102);
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #fff,gray,#000);
    border-image-slice: 1;
    padding: 3%;
    position: absolute;
    bottom: -120%;
    left: 40%;
}  

.cloud img{
    width: 50%;
    margin-bottom: 15%;
}

.cloud p{
    color: #fff;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.lock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    padding: 1.5% 0;
    background: rgb(47, 47, 47);
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #fff,gray,#000);
    border-image-slice: 1;
    padding: 3%;
    position: absolute;
    top: 193%;
    left: 60%;
}

.lock img{
    width: 50%;
    margin-bottom: 15%;
}

.lock p{
    color: #fff;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}


/* unique card choices */
.card-choices{
    height: 100%;
}

.card-choices .card-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8%;
}

.card-heading h1{
    font-size: 100px;
    font-family: 'Ubuntu', sans-serif;
}

.card-heading :nth-child(2){
    color: #f637ec;
}

.para{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding: 0 20%;
}

.card-choices .para p{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(98, 98, 98);
    text-align: center;
}

.card-choices .img{
    position: absolute;
    top: 300%;
    left: 12%;
    
}


/* feedback-section */
.feedback-section{
    height: 100%;
    background: #000;
    margin-top: 60%;
    padding-bottom: 55%;
}

.feedback-section .feedback-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8% 5% 0 5%;
    color: #fff;
    
    
}

.feedback-heading h1{
    font-size: 85px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.feedback-heading h1>span{
    color: #f637ec;
}
.feedback-section .para{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding: 0 29%;
}

.feedback-section .para>p{
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    color:  rgb(98, 98, 98);
    text-align: center;
}
/* review */
.review{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10%;
    margin-left: 20%;
    /* justify-content: center; */
    row-gap: 15%;
}

.review-1{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 58%;
    padding: 0 3%;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, rgb(255, 255, 255),rgb(122, 122, 122));
    border-image-slice: 1;
    background-image: linear-gradient(rgb(51, 48, 48),rgb(136, 135, 135));
    font-family: 'Ubuntu', sans-serif;
}

.review-1>img{
    width:45%;
}

.review-1>p{
    padding-top: 8%;
    padding-bottom: 8%;
}


.review-2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 58%;
    padding: 0 3%;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, rgb(255, 255, 255),rgb(122, 122, 122),#000);
    border-image-slice: 1;
    background-color: rgb(51, 48, 48);
    font-family: 'Ubuntu', sans-serif;
    
}

.review-2>img{
    width:45%;
}

.review-2>p{
    padding-top: 8%;
    padding-bottom: 8%;
}

.bullets{
    padding-top: 10%;
    padding-left: 43%;
    /* margin-bottom: 5%; */
}

.bullets :nth-child(1){
    height: 20px;
    width: 100px;
    border-radius: 10px;
    background-color: #f637ec;
    display: inline-block;
    margin: 10px;
    box-shadow:0 0 2px 1px #ef55e7, 0 0 30px 2px #fc61f5;

}

.dot1:hover{
    cursor:pointer;
    box-shadow:0 0 1px 1px #fff,0 0 10px 6px #ef55e7, 0 0 14px 9px #f336ea;
}

.bullets .dot{
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

.dot:hover{
    cursor:pointer;
    box-shadow:0 0 1px 1px #fff,0 0 10px 6px #ef55e7, 0 0 14px 9px #f336ea;
}


/* last-section */
.last-section{
    height: 100%;
    background: #000;
}

.last-section .img-left{
    position: absolute;
    top: 620%;
    left: 0.90%;
}

.last-section .img-right{
    position: absolute;
    top: 620%;
    left: 0.90%;
}

.last-section .diamond-right{
    position: absolute;
    top: 618%;
    left: 1%;
}

.last-section .diamond-left{
    position: absolute;
    top: 625.25%;
    left: 59.5%;
}

.last-section h1{
    position: absolute;
    top: 615%;
    font-size: 82px;
    text-align: center;
    padding : 12% 12%;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.last-section h1>span{
    color: #000;
}

.last-section .hero-btn{
    position: absolute;
    top: 672%;
    left: 46%; 
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: medium;
    color: #fff;
}


/* footer */
.footer{
    display: flex;
    align-items: center;
    height: 30%;
    background: #000;
    padding: 5%;
}

.footer .footer-img{
    padding-left: 15%;
}

.footer .list{
    margin-left: 25%;
}
