*{
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar{
    background: #000;
}

.nav{
    height: 30%;
    padding: 1% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    color: gray;
}

.nav>ul>li{
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav>ul>li:hover{
    cursor: pointer;
    color: rgb(32, 118, 175);
    text-decoration: underline;
    transition: ease-in-out;
}

.nav>button{
    padding: 11px 22px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 30px;
    color: #fff;
    background: rgb(32, 118, 175);
}

.nav>button:hover{
    cursor: pointer;
    color:rgb(32, 118, 175);
    background: #fff;
    transition: ease-in-out;
}


/* hero-section */
.hero-section{
    height: 100%;
    background: #000;
    display: flex;
    padding: 4% 0;
    color: #fff;

}

.hero{
    width: 50%;
    padding-left: 7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.hero>h1{
    font-size: 70px;
}

.hero>h1>i{
    color:rgb(32, 118, 175) ;
}

.hero>p{
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    color: gray;
    padding-right: 10%;
}

.hero .button{
    margin-top: 10%;
    padding-bottom: 14%;
}
.button .get-started, .try-free{
    padding: 15px 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.get-started{
    margin-right: 5%;
    background: rgb(32, 118, 175);
}

.try-free{
    border: 2px solid #fff;
    background: #000;
}

.button .get-started:hover{
    cursor: pointer;
    border: 2px solid #fff;
    background: #000;
}

.button .try-free:hover{
    cursor: pointer;
    border: 2px solid black;
    background: rgb(32, 118, 175);
}

.hero-section img{
    width: 98.70%;
}


/* logo section */
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding: 3% 2%; 
    height: 30%;
    background: rgb(33, 32, 32);
}


/* service section */
.service-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 100%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.service-heading{
    margin: 0 10%;
}

.service-heading>h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.service-heading>p{
    text-align: center;
    padding: 2% 23%;
    line-height: 30px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}

.three-boxes{
    padding-top: 100px;
    padding-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-1{
    height: 420px;
    width: 30%;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box-2{
    height: 420px;
    width: 30%;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    top: -40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box-3{
    height: 420px;
    width: 30%;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.heading{
    font-size: 35px;
    font-weight: 600;
    color: black;
}
.about{
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    color: grey;    
}

.box-2 > .heading{
    font-size: 35px;
    font-weight: 600;
    color: white;    
}

.box-2 > .about{
    font-size: 23px;
    text-align: center;
    font-weight: 400;
    color: grey;
}

.box-1:hover , .box-3:hover{
    cursor: pointer;
    background:rgb(234, 233, 233);
    border: 1px solid black;
}

.box-2:hover{
    cursor: pointer;
    background:rgb(192, 206, 223);
    border: 1px solid black;
}


/* support-section */
.support{
    height: 100%;
    margin-top: 2%;
    background: #fff;
    padding-bottom: 10%;
}

.support-heading{
    /* text-align: center; */
    margin-left: 9%;
    margin-right: 4%;
    margin-bottom: 3%;
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 0 5%;
}
.right-btn{
    background-color:white;
    display: flex;
    flex-direction: column;
    margin-left: 9%;
    margin-right: 4%;
}
.left-btn{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius:30px ;
    padding: 25px;
    width: 26%;
}
.btn-1{
    background-color: lightgray;
    color: black;
    border-radius: 40px;
    width: 650px;
    height: 86px;
    font-weight: 500;
    font-size: 30px;
    padding-left: 35px;
    padding-right: 31px;
    padding-top: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-1:hover{
    background-color: #0c8bfd;
    color: white;
    cursor:pointer;   
}
.btn-2{
    background-color: #292828;
    border-radius: 40px;
    height: 58px;
    width: 356px;
    text-align: left;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding-left: 20px;
    cursor:pointer;   
}
.dot{
    margin-top:5px;
    margin-right: 8px;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
.btn-2:hover{
    color: #292828;
    background-color:white ;
}
