body{
    display: block;
}

.mainWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.mainLeft, .mainRight{
    width: 30%;
    border: 2px solid white;
}

.mainRight h2, .mainLeft h2{
    margin-top: 20px;
    text-align: center;
}

.mainRight form, .mainLeftDetails{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    font-weight: 500;
}

.mainWrapper textarea{
    padding: 5px 10px;
    height: 100px;
    resize: none;
}

.mainLeftDetails p:last-child{
    height: 100px;
}

.mainRight button, .mainLeftDetails button{
    margin: auto;
}