*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board-container{
 margin: 10% 30%;
}

.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.square{
  border: 1px solid black;
  height: 15vh;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}