/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */
.navbar-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 12vh;
}

.navbar-container:nth-child(2){
    display: flex;
    justify-content: space-between;
    color: #000;
}

.list{
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
}

.list .list-item{
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    color: #242B2E;
}

.list-item:first-child{
    text-decoration: underline;
    font-weight: bold;
    color: #000;
}

.list-item:hover{
    cursor: pointer;
    color: #6c767a;
}

/* Button */
.button-group{
    display: flex;
    align-items: center;
}

.button-group .nav-button{
    margin: 10px;
    padding: 0.60rem 2.5rem 0.5rem 2.5rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fff;
    font-size: 1.5rem;
    color: #6c767a;
}

.nav-button:hover{
    cursor: pointer;
    border: 2px solid #6c767a;
    color: #000;
}

/* <!-- Hero Banner Section --> */

.hero-container{
    height:auto ;
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.square{
    z-index: -1;
    position:absolute;
    top: 20rem;
    left: 13.25rem;

}

.star{
    position: absolute;
    top: 22%;
    right: 18%;
}

.star:nth-child(2){
    position: absolute;
    top: 90%;
    left: 40%;
}
.star img{
    width: 40px;
}
.globe{
    position: absolute;
    top: 15%;
    left: 50%;
}
.globe img{
    width: 60px;
}
div img[alt="person-hero-iamge"]{
    width: 25rem;
}

.hero-container-right{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container-right h1{
    position: relative;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-container-right p{
    font-size: 1rem;
    text-align: center;
    padding: 2.5rem 10rem;
}

.button-email{
    /* margin-top: 3rem; */
    position: relative;
    top: 10%;
    padding: 5px 30px;
    border-radius: 10px;
    border: 2px solid #000  ;
    background:none;
    font-size: 15px;
}

.button-join{
    margin-top: 3rem;
    padding: 5px 20px;
    background: #000;
    border-radius: 10px;
    color: #fff;
}

.contact-heading{
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
}

.icons{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}
